/* Header */
.blue-30{
    background: rgba(32, 57, 130, 0.3);
}
.background-gen-z{
    background: url('../../img/a-young-freelancer-girl-surfing-with-an-internet-p-7R57G3T.jpg') center center no-repeat;
    background-size: cover;
}
/* Menu Burger */
.menu-burger>div {
    height: 2px;
    width: 20px;
    margin: 4px 0;
    background-color: #77CA0A;
    transition: transform 200ms ease, opacity 200ms ease;
    border-radius: 2px;
}

.menu-burger.is-expanded>div:nth-of-type(1) {
    transform: rotate(45deg) translate(4px, 4px);
}

.menu-burger.is-expanded>div:nth-of-type(2) {
    opacity: 0;
}

.menu-burger.is-expanded>div:nth-of-type(3) {
    transform: rotate(-45deg) translate(4px, -5px);
}
@media (min-width: 768px){
    .menu-burger{
        display: none;
    }
}
/* NavBar */
.nav{
    background: #000;
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 1s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.nav.nav-acative{
    transform: translateX(0%);
}
.nav ul {
    padding: 15px 0;
}
.nav ul li {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.nav ul li a{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Poppins', 'Helvetica', 'Arial', 'sans-serif';
}
@media (min-width: 768px){
    .nav{
        position: static;
        width: auto;
        transform: translateX(0%);
        background: transparent;
    }
    .nav ul li{
       display: block;
       padding: 10px 0;
    }
    .nav ul li a{
        position: relative;
        font-size: 1.4rem;
        cursor: pointer;
    }
    .nav ul li a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #77CA0A;
        left: 0;
        bottom: 0px;
        transform: translateY(16px);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .nav ul li a:hover::after{
        transform: translateY(10px);
        opacity: 1;
    }
}
@media (min-width: 1024px){
    .nav ul li a{
        font-size: 1.8rem;
    }
}
/* Logo */
.logo{
    width: 63px !important;
    height: 37px !important;
    max-width: initial !important;
    max-height: initial !important;
}
@media (min-width: 768px){
    .logo{
        width: 100px !important;
        height: 70px !important;
    }
}
@media (min-width: 1024px){
    .logo{
        width: 143px !important;
        height: 84px !important;
    }
}