@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './main/Header.css';
@import './main/Section.css';
@import './main/Form.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
}

@layer utilities {
    .leading-11 {
        line-height: 2.9rem
    }

    .text-8 {
        font-size: 0.8rem
    }

    .w-300 {
        width: 300px;
    }
}
.cadastro{
    background: url('../img/pattern.png');
}
.r--5 {
    right: -5%;
}
.w-300{
    width: auto;
}
.h-450{
    height: 450px;
}
.none{
    display: none;
}